  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label t(:Amount) %>
    <%= form.text_field :amount, id: :payment_amount, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label t(:Date) %>
    <div class="input-group date" id="datepicker">
      <input type="text" name="loan_payment[date]" id="loan_payment_date" class="form-control" />
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>

  <div class="form-group">
    <%= form.submit t(:Create_a_new_payment), :class => 'btn btn-primary' %>
  </div>

  <script>
    $(function() {
        $('#datepicker').datetimepicker({
          useCurrent: false,
          showTodayButton: true,
          defaultDate: moment('<%= @payment.date.strftime('%d/%m/%Y') %>', 'DD/MM/YYYY'),
          format: 'DD/MM/YYYY',
          <% if I18n.locale == :en %>
            locale: 'en'
          <% else %>
            locale: 'fr'
          <% end %>
        });
    });
  </script>
