<% provide :title,  t(:Loans) %>

<h1><%= t(:Editing_payment_for_loan) %> (<%= number_to_currency(@loan.amount, locale: :cm) %> on <%= @loan.origination %>)</h1>

<%= form_for(@payment) do |form| %>
  <%= render 'form', form: form, loan: @loan %>
<% end %>

<%= link_to t(:Back), employee_loans_path(@employee), class: 'btn btn-default' %>
