<div class="form-group">
  <%= form.label :person, t(:New_supervisor) %>
  <%= form.select :person_id,
                  options_for_select_plus(Person.non_supervisors,
                                          :id,
                                          :full_name_rev,
                                          [t(:Create_new_person)]),
                  {},
                  class: 'form-control' %>
</div>

<div id='name-fields' class="form-group" style="display: none;">
  <div class="form-group-inline">
    <%= form.label :first_name, t(:First_name) %>
    <%= form.text_field :first_name, class: 'form-control' %>
  </div>
  <div class="form-group-inline">
    <%= form.label :last_name, t(:Last_name) %>
    <%= form.text_field :last_name, class: 'form-control' %>
  </div>
</div>