<% provide(:title, "Payslips") %>

  <div class="col-md-6" style="border:1px dotted gray; padding:20px">

    <h2>View Payroll History for <%= @employee.full_name %></h2>

    <table class="table">
      <thead>
        <th>Pay Period</th>
        <th>Payslip Record</th>
      </thead>
      <tbody>

    <% @employee_payslips.each do |slip| %>
      <tr>
        <td><%= slip.period.start %> - <%= slip.period.finish %></td>
        <td><%= link_to("View PDF", payslip_path(slip, :format =>:pdf)) %> (<%= link_to("View HTML", payslip_path(slip, :format=>:html), class: 'small text-muted') %>)</td>
      </tr>
    <% end %>

      </tbody>
    </table>

  </div>

