<% provide(:title, "Payslips") %>

<% current_period = LastPostedPeriod.current %>

  <div class="col-md-6" style="border:1px dotted gray; padding:20px">

    <h2><%= t(:Payslip_management) %></h2>

    <hr />

    <%= form_tag("/payslips/process", method: "post") do %>

    <p>
      Process a payslip for: <%= collection_select(:employee, :id, @employees, :id, :full_name, {:prompt => "Select an employee..."}) %>
    </p>

    <%= submit_tag("Submit") %>
    <% end %>

    <hr />

    <%= form_tag("/payslips/process_all", method: "post") do %>

    <p>
      Process all payslips for the current period (<%= current_period %>)<br />
    </p>

    <%= submit_tag("Submit") %>
    <% end %>

    <hr />

    <%= form_tag(payslip_post_period_path, method: "post") do %>

    <p>
      Post the current period (<%= current_period %>)<br />
      No further changes to this period will be permitted.
    </p>

    <%= submit_tag("Submit") %>
    <% end %>

    <hr />

    <%= form_tag(payslip_unpost_period_path, method: "post") do %>
      <p>
        Reopen the last posted period (<%= LastPostedPeriod.get %>)<br />
        <span class="alert-danger">Use with care.</span>
      </p>

      <%= submit_tag("Submit") %>
    <% end %>

    <hr />

    <%= form_tag("/payslips/process", method: "post") do %>
    <input type="hidden" name="advance" value="true" />

    <p>
      Process a <em><b>MID-MONTH ADVANCE</b></em> payslip for: <%= collection_select(:employee, :id, @employees, :id, :full_name, {:prompt => "Select an employee..."}) %>
    </p>

    <%= submit_tag("Submit") %>
    <% end %>



  </div>

