
<%= link_to "<< #{t(:Back)}", payslips_url %>

<h2>Processed Payslips for <%= @period %></h2>


<h4>Payslips Processed:</h4>

<% if defined? @post_period_success %>
  <% if @post_period_success %>
    <p class="alert-success"><%= t :post_success_message %></p>
  <% else %>
    <p class="alert-danger"><%= t :post_failure_message %></p>
  <% end %>
<% end %>

<ul>
<% @payslips.each do |slip| %>

  <li>
    Processed Payslip ID <%= link_to slip.id, slip %> for <%= link_to slip.employee.full_name, slip.employee %>
    <% if (!slip.errors.empty?) %>
    <ul>
      <% slip.errors.messages.each do |err| %>
        <li class="bg-danger"><b><%= err %></b></li>
      <% end %>
      <% slip.deductions.each do |ded| %>
        <% if ded.errors.messages.size > 0 %>
          <li><%= ded.errors.inspect %></li>
        <% end %>
      <% end %>
      <% slip.earnings.each do |ern| %>
        <% if ern.errors.messages.size > 0 %>
          <li><%= ern.errors.inspect %></li>
        <% end %>
      <% end %>
    </ul>
    <% end %>
  </li>

<% end %>
</ul>

