<% employee = Employee.find(params[:employee][:id]) %>

<%= link_to "<< #{t(:Back)}", payslips_url %>

<h2>Processing <% if (params[:advance]) %>MID-MONTH ADVANCE<% end %> Payslip for <%= employee.full_name %></h2>


<% if (@payslip && !@payslip.errors.empty?) %>
<h4>Errors Processing Payslip:</h4>
  <ul>
  <% @payslip.errors.each do |err| %>
    <li><%= err %></li>
  <% end %>
  <% @payslip.deductions.each do |err| %>
    <li><%= err.errors.inspect %></li>
  <% end %>
  <% @payslip.earnings.each do |err| %>
    <li><%= err.errors.inspect %></li>
  <% end %>
  </ul>
<% end %>


<h4><%= t :Hours_for %> <%= @period.short_name %></h4>

<p>
<% hours = WorkHour.total_hours(employee, @period) %>
<%= t :Regular_hours %> <%= t :For_the_month %>: <%= hours[:normal] %><br />
<%= t :Overtime_hours %> <%= t :For_the_month %>: <%= hours[:overtime] %><br />
</p>


<% if (params[:advance]) %>
<p>
MID-MONTH ADVANCE amount for <%= employee.full_name %>: <%= employee.advance_amount %> FCFA<br />
</p>
<% end %>


Complete <% if (params[:advance]) %>MID-MONTH ADVANCE<% end %> payslip processing?<br />

<%= form_tag("/payslips/process_complete", method: "post") do %>

<% if (params[:advance]) %><input type="hidden" name="advance" value="true" /><% end %>
<%= hidden_field(:employee, :id, :value => employee.id) %>
<% period = @period %>
<%= hidden_field(:period, :year, :value => period.year) %>
<%= hidden_field(:period, :month, :value => period.month) %>

<%= submit_tag(t(:Process)) %>

<% end %>
