<% employee = Employee.find(@payslip.employee.id) %>

<h2>Payslip #<%= @payslip.id %></h2>

<h4 style="color:red">For testing purposes at this point...</h4>

<br /><br />

<h4>Employee Name: <%= @payslip.employee.full_name %></h4>

<p>
Pay Date: <%= @payslip.payslip_date %><br />
Last Processed Date: <%= @payslip.last_processed %><br />
</p>

<h4>Earnings:</h4>

<ul>
<% @payslip.earnings.all.each do |record| %>
  <li>
    <% if (!record.percentage.nil?) %>
      <%= record.percentage %>% of <%= @payslip.employee.wage %> FCFA<br />
    <% elsif (!record.amount.nil?) %>
      <%= record.amount %> FCFA<br />
    <% else %>
      <%= record.hours %> hours @ <%= record.rate %> CFA (Overtime? <%= record.overtime? %>)<br />
    <% end %>
  </li>
<% end %>
</ul>

<h4>Charges:</h4>

<h4>Totals:</h4>

</p>
