<% employee = Employee.find(@payslip.employee.id) %>

<% if @payslip.errors.size > 0 %>
  <p class="bg-danger">
    <% @payslip.errors[:base] %>
    <% @payslip.errors.messages.each do |err| %>
      <li class="bg-danger"><b><%= err %></b></li>
    <% end %>
  </p>
<% end %>

<h1 class="text-uppercase"><%= t(:Payslip) %> <%= @payslip.id %></h1>

<hr class="thicker" />
<hr class="thicker" />

<p>
Payslip for period: <%= @payslip.period %><br />
Payslip Date: <%= @payslip.payslip_date %><br />
</p>

<p>
<b>Raison sociale:</b> SIL BP 1299, Yaoundé<br />
<b>No. d'immatriculation:</b> XXXXXXXXXXXXX<br />
<b>Nom du travailleur:</b> <%= @payslip.employee.full_name %><br />
<b>Matricule No.:</b> XXXXXXXXXXXXX<br />
</p>

<h3>Wages Summary</h3>

<table class="table table-striped payslip">
  <colgroup>
    <col class="col-xs-6"></col>
    <col class="col-xs-6"></col>
  </colgroup>
<tr>
  <td>Category:</td>
  <td><%= Employee.categories.invert[@payslip.category]&.humanize %></td>
</tr><tr>
  <td>Echelon:</td>
  <td><%= Employee.echelons.invert[@payslip.echelon]&.humanize %></td>
</tr><tr>
  <td>Wage Scale:</td>
  <td><%= Employee.wage_scales.invert[@payslip.wagescale]&.humanize %></td>
</tr><tr>
  <td>Wage:</td>
  <td><%= number_to_currency(@payslip.wage, locale: :cm) %></td>
</tr><tr>
  <td>Base Wage:</td>
  <td><%= number_to_currency(@payslip.basewage, locale: :cm) %></td>
</tr>
</table>

<h3>Work Summary:</h3>

<table class="table table-striped payslip">
  <colgroup>
    <col class="col-xs-6"></col>
    <col class="col-xs-6"></col>
  </colgroup>

<%
  hours_worked, days_worked = WorkHour.compute_hours_and_days(employee, @payslip.period)
%>
<tr>
  <td><b>Days Employee Worked:</b></td>
  <td><%= @payslip.days %></td>
</tr>
<tr>
  <td>Total Workdays Per Month</td>
  <td><%= employee.workdays_per_month(@payslip.period) %></td>
</tr>
<tr>
  <td><b>Hours Employee Worked:</b></td>
  <td><%= @payslip.hours %></td>
</tr>
<tr>
  <td>Employee Worked Full Month?</td>
  <td><%= @payslip.worked_full_month?.to_s.humanize %></td>
</tr>
<tr>
  <td>Employee Paid Monthly?</td>
  <td><%= employee.paid_monthly?.to_s.humanize %></td>
</tr>
<tr>
  <td>Hourly Rate?</td>
  <td><%= number_to_currency(@payslip.hourly_rate, locale: :cm) %></td>
</tr>
<tr>
  <td>Daily Rate?</td>
  <td><%= number_to_currency(@payslip.daily_rate, locale: :cm) %></td>
</tr>
</table>

<h3>Earnings:</h3>

<table class="table table-striped payslip">
<tr>
  <td><b>Overtime Hours Worked (&lt; 8 hours):</b></td>
  <td><%= @payslip.overtime_hours %> hours @ <%= number_to_currency(@payslip.overtime_rate, locale: :cm) %></td>
</tr>
<tr>
  <td><b>Overtime Hours Worked (8 - 16 hours):</b></td>
  <td><%= @payslip.overtime2_hours %> hours @ <%= number_to_currency(@payslip.overtime2_rate, locale: :cm) %></td>
</tr>
<tr>
  <td><b>Overtime Hours Worked (16+ hours):</b></td>
  <td><%= @payslip.overtime3_hours %> hours @ <%= number_to_currency(@payslip.overtime3_rate, locale: :cm) %></td>
</tr>
<% @payslip.earnings.where(is_bonus: false).each do |record| %>
  <tr>
    <td>Earnings
      <% if record.hours %>
        <%= record.hours %> hours @ <%= record.rate %> CFA
        <% if record.overtime? %>
          (Overtime Hours)
        <% else %>
          (Normal Hours)
        <% end %>
      <% else %>
        (<%= record.description %>)
      <% end %>
    </td>
    <td><%= number_to_currency(record.amount, locale: :cm) %></td>
  </tr>
<% end %>
<tr>
  <td><b>Monthly Earnings (Bonus Base):</b></td>
  <td><b><%= number_to_currency(@payslip.bonusbase, locale: :cm) %></b></td>
</tr>
<tr>
  <td><b>Seniority Bonus: (<%= @payslip.years_of_service %> years * <%= number_to_percentage(@payslip.seniority_benefit ? @payslip.seniority_benefit * 100 : 0) %>)</b></td>
  <td>+ <%= number_to_currency(@payslip.seniority_bonus_amount, locale: :cm) %></td>
</tr>
<tr>
  <td><b>Caisse Base</b></td>
  <td><b>= <%= number_to_currency(@payslip.caissebase, locale: :cm) %></b></td>
</tr>
<% @payslip.earnings.where(is_bonus: true).each do |record| %>
  <tr>
    <% if (!record.percentage.nil?) %>
      <td>Bonus (<%= record.description %> <%= number_to_percentage(record.percentage * 100) %>)</td>
      <td><%= number_to_currency(record.amount, locale: :cm) %></td>
    <% elsif (!record.amount.nil?) %>
      <td>Bonus (<%= record.description %>): <%= record.amount %> FCFA</td>
      <td><%= number_to_currency(record.amount, locale: :cm) %></td>
    <% end %>
  </tr>
<% end %>
</tr>
<tr>
  <td>Total Bonuses:</td>
  <td>+ <%= number_to_currency(@payslip.bonuspay, locale: :cm) %></td>
</tr>
<tr>
  <td><b>CNPS Wage:</b></td>
  <td><b>= <%= number_to_currency(@payslip.cnpswage, locale: :cm) %></b></td>
</tr>
<tr>
  <td><b>Transportation:</b></td>
  <td>+ <%= number_to_currency(@payslip.transportation, locale: :cm) %></td>
</tr>
<tr>
  <td><b>Taxable Wage:</b></td>
  <td><b>= <%= number_to_currency(@payslip.taxable, locale: :cm) %></b></td>
</tr>
</table>

<p class="bg-info" style="padding:20px">
<b>GROSS PAY: <%= number_to_currency(@payslip.gross_pay, locale: :cm) %></b>
</p>

<h3>Deductions</h3>

<h4>Charges</h4>

<table class="table table-striped payslip">
  <colgroup>
    <col class="col-xs-6"></col>
    <col class="col-xs-6"></col>
  </colgroup>
<% @payslip.deductions.all.each do |record| %>
  <tr>
    <td class="text-uppercase"><%= t(record.note, default: record.note) %> (<%= record.date.strftime("%b-%d") %>):</td>
    <td><%= number_to_currency(record.amount, locale: :cm) %></td>
  </tr>
<% end %>
<tr>
  <td><b>Total Deductions:</b></td>
  <td><b><%= number_to_currency(@payslip.total_deductions(), locale: :cm) %></b></td>
</tr>
</table>

<h4>Taxes:</h4>

<p>
<table class="table table-striped payslip">
  <colgroup>
    <col class="col-xs-6"></col>
    <col class="col-xs-6"></col>
  </colgroup>
<tr>
<td>CRTV Tax:</td>
<td><%= number_to_currency(@payslip.crtv, locale: :cm) %></td>
</tr><tr>
<td>CCF Tax:</td>
<td><%= number_to_currency(@payslip.ccf, locale: :cm) %></td>
</tr><tr>
<td>Proportional Tax:</td>
<td><%= number_to_currency(@payslip.proportional, locale: :cm) %></td>
</tr><tr>
<td>CNPS Tax:</td>
<td><%= number_to_currency(@payslip.cnps, locale: :cm) %></td>
</tr><tr>
<td>CAC Tax:</td>
<td><%= number_to_currency(@payslip.cac, locale: :cm) %></td>
</tr><tr>
<td>CAC #2 Tax:</td>
<td><%= number_to_currency(@payslip.cac2, locale: :cm) %></td>
</tr><tr>
<td>Communal Tax:</td>
<td><%= number_to_currency(@payslip.communal, locale: :cm) %></td>
</tr><tr>
<td><b>Total Taxes:</b></td>
<td><b><%= number_to_currency(@payslip.total_tax, locale: :cm) %></b></td>
</tr>
</table>
</p>

<p class="bg-info" style="padding:20px">
<b>NET PAY: <%= number_to_currency(@payslip.net_pay, locale: :cm) %></b>
</p>

<h3>Loans:</h3>

<table class="table table-striped payslip">
  <colgroup>
    <col class="col-xs-6"></col>
    <col class="col-xs-6"></col>
  </colgroup>
<tr>
  <td>Loan Balance:</td>
  <td><%= number_to_currency(@payslip.loan_balance, locale: :cm) %></td>
</tr>
</table>
</p>

<h3>Vacation:</h3>

<table class="table table-striped payslip">
  <colgroup>
    <col class="col-xs-6"></col>
    <col class="col-xs-6"></col>
  </colgroup>
<tr>
  <td>Ce mois-ci:</td>
  <td><%= number_to_human(@payslip.vacation_earned) %> days</td>
</tr><tr>
  <td>Jusqu'aujourd'hui:</td>
  <td><%= number_to_human(@payslip.vacation_balance) %> days</td>
</tr><tr>
  <td>Dernier congé:</td>
<% if !@payslip.last_vacation_start %>
  <td>None</td>
<% else %>
  <td><%= std_datestring(@payslip.last_vacation_start) %> - <%= std_datestring(@payslip.last_vacation_end) %></td>
<% end %>
</tr>
</table>
</p>

<p><em>Last Processed Date: <%= @payslip.last_processed %></em></p>


</p>
