<%= render 'shared/error_messages', errors: @employee.errors %>
<%= render 'shared/error_messages', errors: @supervisor.errors if defined? @supervisor %>

<%= form_for @employee, html: {class: 'auto-width', name: 'employee_form'} do |f|  %>
    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :birth_date %>
      <%= date_select( :employee, :birth_date, prompt: true, start_year: 1900, end_year: Date.today.year ) %>
    </div>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :department %>
      <%= f.text_field :department, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :supervisor_id %>
      <%= f.select :supervisor_id,
                   options_for_select_plus(Supervisor.all,
                                           :id,
                                           :full_name_rev,
                                           @employee.supervisor.try(:id),
                                           [t(:Add_new_supervisor)]),
                   {},
                   class: 'form-control' %>
      <% #link_to t(:Add_new_supervisor), new_supervisor_path, target: '_blank' %>
    </div>

    <div id="new-sup-form" class="tabbed" style="display: none;">
      <%= f.fields_for :supervisor do |sup_form| %>
        <%= render 'supervisors/form', form: sup_form %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :contract_start %>
      <%= date_select( :employee, :contract_start, prompt: true, start_year: 1970 ) %>
    </div>
    <div class="form-group">
      <%= f.label :contract_end %>
      <%= date_select( :employee, :contract_end, prompt: true, start_year: 1970 ) %>
    </div>
    <div class="form-group">
      <%= f.label :gender %>
      <%= f.select :gender, Person.genders.keys, prompt: true %>
    </div>
    <div class="form-group">
      <%= f.label :marital_status %>
      <%= f.select :marital_status, Employee.marital_statuses.keys, prompt: true %>
    </div>
    <div class="form-group">
      <%= f.label :cnps %>
      <%= f.text_field :cnps, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :dipe %>
      <%= f.text_field :dipe, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :category %>
      <%= f.select :category, Employee.categories.keys, prompt: true %>
    </div>
    <div class="form-group">
      <%= f.label :echelon %>
      <%= f.select :echelon, Employee.echelons.keys, prompt: true %>
    </div>
    <div class="form-group">
      <%= f.label :wage %>
      <%= f.text_field :wage, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :wage_scale %>
      <%= f.select :wage_scale, Employee.wage_scales.keys, prompt: true %>
    </div>
    <div class="form-group">
      <%= f.label :wage_period %>
      <%= f.select :wage_period, Employee.wage_periods.keys, prompt: true %>
    </div>
    <div class="form-group">
      <%= f.label :taxable_percentage %>
      <%= f.text_field :taxable_percentage, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :transportation %>
      <%= f.text_field :transportation, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :hours_day %>
      <%= f.text_field :hours_day, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :employment_status %>
      <%= f.select :employment_status, Employee.employment_statuses.keys, prompt: true %>
    </div>
    <div class="form-group">
      <%= f.label :days_week %>
      <%= f.select :days_week, Employee.days_weeks.keys, prompt: true %>
    </div>


  <br />
  <%= f.submit t(:Save), class: 'btn btn-primary' %>
  <% if params[:action] == "edit" %>
  <%= link_to 'Cancel edit', @employee, :class => 'btn btn-link' %> 
  <% end %>
<% end %>
