<h2>
  <%= @employee.full_name %>
  <small><%= t(:Other_info) %></small>
</h2>

    <%= hidden_field_tag :page, @page %>
    <%= hidden_field_tag :id, @employee.id %>

    <div class="form-group">
      <%= form.label :marital_status %>
      <%= form.select :marital_status,
                      Employee.marital_statuses.keys.collect{ |k| [t(k), k] },
                      {},
                      class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label t_gen(:spouse_employed, @employee.female?) %>?
      <%= form.check_box :spouse_employed %>
    </div>

    <div class="form-group">
      <%= form.label :transportation %>
      <%= form.text_field :transportation, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :amical %>
      <%= form.text_field :amical, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :uniondues %>?
      <%= form.check_box :uniondues %>
    </div>
