<h2>
  <%= @employee.full_name %>
  <small>
    <%= request.path.include?('raise') ?
            t(:Raise) :
            t(:Wage_info) %>
  </small>
</h2>

    <%= hidden_field_tag :id, @employee.id %>

    <div class="form-group">
      <%= form.label :category %>
      <%= form.select :category,
                      Employee.categories.keys.collect{ |k| [t(k), k] },
                      {},
                      class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :echelon %>
      <%= form.select :echelon,
                      Employee.echelons.keys.collect{ |k| [t(k), k]},
                      {},
                      class: 'form-control',
                      data: {'echelon'=>'1'} %>
    </div>

    <div class="form-group" style="display: none;">
      <%= form.label :wage %>
      <%= form.text_field :wage, class: 'form-control', data: {'wage'=>'1'} %>
    </div>

    <div class="form-group">
      <%= form.label :wage_scale %>
      <%= form.select :wage_scale,
                      Employee.wage_scales.keys.collect{ |k| [t(k), k] },
                      {},
                      class: 'form-control' %>
    </div>

    <%= t('Employee_wage_period_always_monthly') %>
    <%= hidden_field_tag 'employee[wage_period]', Employee.wage_periods.key(1), { class: 'form-control' } %>

    <br />
    <br />
