<% provide(:title, @employee.full_name) %>

<p>
  <%= link_to "<<#{@employee.full_name}", employee_path(@employee) %>
</p>

<%= render 'shared/error_messages', errors: @employee.errors %>

<%= form_for @employee, url: employee_path, method: :patch, html: {class: 'auto-width'} do |form| %>
    <%= hidden_field_tag :page, @page %>

    <%= render "#{@page}_form", form: form %>

    <div class="form-group">
      <%= form.submit t(:Save), class: 'btn btn-primary' %>
    </div>
<% end %>