<% provide(:title, t(:Employees)) %>

<% if can? :create, Employee %>
  <%= link_to t(:New_employee), new_employee_path, class: 'btn btn-primary btn-w-marge', id: 'new-employee-btn' %>
<% end %>

<% unless params[:view_all] %>
  <p>
    <%= t :Showing_active_employees %>
    <%= link_to t(:View_all), employees_path(view_all: true) %>
  </p>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th><%= t :Name %></th>
      <th><%= t :Title %></th>
      <th><%= t :Department %></th>
    </tr>
  </thead>
  <tbody id="employees-data">
  <% @employees.each do |employee| %>
    <tr>
      <td><%= link_to employee.full_name, employee_path(employee) %></td>
      <td><%= employee.title %></td>
      <td><%= employee.department_name %></td>
    </tr>
  <% end %>
  </tbody>
</table>
