<% provide(:title, "Employees") %>

<%= link_to t(:New_employee), new_employee_path, class: 'btn btn-primary' %>

<table class="table" style="margin-top: 15px;">
  <tr>
    <th><%= t :Name %></th>
    <th><%= t :Department %></th>
    <th><%= t :Title %></th>
    <th></th>
  </tr>
  <% @employees.each do |employee| %>
    <tr>
      <td><%= link_to employee.full_name, employee_path(employee) %></td>
      <td>Department</td>
      <td>Title</td>
      <td><%= link_to t(:Add_transaction), new_employee_transaction_path(employee) %></td>
    </tr>
  <% end %>
</table>
