<% provide(:title, t(:New_employee)) %>

<p>
  <%= link_to "<<#{t(:Employees)}", employees_path %>
</p>

<%= render 'shared/error_messages', errors: @employee.errors %>

<%= form_for @employee, url: employees_path, method: :post, html: {class: 'auto-width'} do |form| %>
  <%= hidden_field_tag :page, @page %>

  <%= render "#{@page}_form", form: form %>

  <% btn_text = (@page == :misc) ? t(:Finish) : t(:Next) %>
  <div class="form-group">
    <%= form.submit btn_text, class: 'btn btn-primary' %>
  </div>
<% end %>