<% provide(:title, "Employees") %>

<%= link_to t(:New_employee), new_employee_path, class: 'btn btn-primary' %>

<br />
<br />

<%= link_to '<< Return to Index', controller: 'employees', action: 'index' %>

<h2>Employee Information for <%= @employee.full_name %></h2>


<table class="table table-striped">
  <thead class="thead-default">
    <th>Key</th>
    <th>Value</th>
  </thead>
  <tbody>
    <tr>
      <th scope="row">First Name:</th>
      <td><%= @employee.first_name %></td>
    </tr>
    <tr>
      <th scope="row">Last Name:</th>
      <td><%= @employee.last_name %></td>
    </tr>
  </tbody>
</table>


<%= link_to "Edit", {controller: "employees", action: "edit", id: @employee}, class: 'btn btn-primary' %> &nbsp;
<%= link_to "Delete", employee_path(@employee), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>

<br />
<br />
<br />
Full object information:<br />
<%= debug @employee %>
