<% provide(:title, "Employees") %>

<%= link_to "<< #{t(:Employees)}", controller: 'employees', action: 'index' %>

<ul class="list-inline" style="margin-top: 15px;">
  <li>
    <label><%= :Children %>:</label>
    <%= link_to t(:View), employee_children_path(@employee) %> |
    <%= link_to t(:Add), new_employee_child_path(@employee) %>
  </li>
  <li>
    <label><%= :Vacation %>:</label>
    <%= link_to t(:View), employee_vacations_path(@employee) %> |
    <%= link_to t(:Add), new_employee_vacation_path(@employee, referred_by: employee_vacations_path(@employee)) %>
  </li>
  <li>
    <label><%= :Charges %>:</label>
    <%= link_to t(:View), employee_charges_path(@employee) %> |
    <%= link_to t(:Add), new_employee_charge_path(@employee, referred_by: request.path) %>
  </li>
  <li>
    <label><%= :Hours %>:</label>
    <%= link_to t(:View), employee_work_hours_path(@employee) %> |
    <%= link_to t(:Enter), edit_employee_work_hours_path(@employee) %>
  </li>
  <li>
    <label><%= :Bonuses %>:</label>
    <%= link_to t(:Assign), list_possible_employee_bonuses_path(@employee) %>
  </li>
  <li>
    <label><%= :Payslips %>:</label>
    <%= link_to t(:View), employee_payslips_path(@employee) %>
  </li>
</ul>

<h2><%= t(:Employee_information_for) %> <%= @employee.full_name %></h2>


<table class="table table-striped">
  <tbody>
    <tr>
      <th scope="row"><%= t(:First_name) %>:</th>
      <td><%= @employee.first_name %></td>
      <th scope="row"><%= t(:Last_name) %>:</th>
      <td><%= @employee.last_name %></td>
    </tr>
    <tr>
      <th scope="row"><%= t(:Title) %>:</th>
      <td><%= @employee.title %></td>
      <th scope="row"><%= t(:Department) %>:</th>
      <td><%= @employee.department_name %></td>
    </tr>
    <tr>
      <th scope="row"><%= t(:Supervisor) %>:</th>
      <td><%= @employee.supervisor.try(:full_name) %></td>
      <th scope="row"></th>
      <td></td>
    </tr>
    <tr>
      <th scope="row"><%= t(:Contract_start) %>:</th>
      <td><%= @employee.contract_start %></td>
      <th scope="row"><%= t(:Contract_end) %>:</th>
      <td><%= @employee.contract_end %></td>
    </tr>
    <tr>
      <th scope="row"><%= t(:Gender) %>:</th>
      <td><%= t(@employee&.gender&.humanize, default: "") %></td>
      <th scope="row"><%= t(:Marital_status) %>:</th>
      <td><%= t(@employee&.marital_status&.humanize, default: "") %></td>
    </tr>
  </tbody>
</table>

<table class="table table-striped">
  <tbody>
    <tr>
      <th scope="row">CNPS:</th>
      <td><%= @employee.cnps %></td>
      <th scope="row">DIPE:</th>
      <td><%= @employee.dipe %></td>
      <th scope="row"><%= t(:Birth_date) %></th>
      <td><%= @employee.birth_date %></td>
      <th scope="row"><%= t(:Category) %></th>
      <td><%= @employee.category %></td>
    </tr>
    <tr>
      <th scope="row">Echelon:</th>
      <td><%= @employee.echelon %></td>
      <th scope="row"><%= t(:Wage) %></th>
      <td><%= number_to_currency(@employee.wage, locale: :cm) %></td>
      <th scope="row"><%= t(:Wage_scale) %></th>
      <td><%= t("wage_scale.#{@employee.wage_scale}", default: "") %></td>
      <th scope="row"><%= t(:Wage_period) %></th>
      <td><%= t(@employee.wage_period, default: "") %></td>
    </tr>
    <tr>
      <th scope="row">Last Raise Date:</th>
      <td><%= @employee.last_raise_date %></td>
      <th scope="row"><%= t(:Taxable_percentage) %></th>
      <td><%= number_to_percentage(@employee.taxable_percentage, precision: 2) %></td>
      <th scope="row"><%= t(:Transportation) %></th>
      <td><%= number_to_currency(@employee.transportation, locale: :cm) %></td>
      <th scope="row"><%= t(:Hours_per_day) %></th>
      <td><%= @employee.hours_day %></td>
    </tr>
    <tr>
      <th scope="row"><%= t(:Days_per_week) %></th>
      <td><%= @employee.days_week %></td>
      <th scope="row"><%= t(:Employment_status) %></th>
      <td><%= t(@employee.employment_status, default: "") %></td>
      <th scope="row"><%= t(:Amical) %></th>
      <td><%= number_to_currency(@employee.amical_amount, locale: :cm) %></td>
      <th scope="row"><%= t(:Union_dues) %>?</th>

      <td><%= t("employee.#{@employee.uniondues}", scope: [:activerecord ]) %> (<%= number_to_currency(@employee.union_dues_amount, locale: :cm) %>)</td>
    </tr>
    <tr>
  </tbody>
</table>

<% if (@employee.children.empty?) %>
  <p>
   <%= t(:No_children) %>
  </p>
<% else %>
  <table class="table">
    <tr>
      <th><%= t(:Child_first_name) %></th>
      <th><%= t(:Child_birth_date) %></th>
      <th><%= t(:Child_student) %></th>
    </tr>
    <% @employee.children.each do |c| %>
      <tr>
        <td><%= c.first_name %> <%= c.last_name %></td>
        <td><%= c.birth_date %></td>
        <td><%= c.is_student %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<% if (@employee.bonuses.empty?) %>
  <p>
   <%= t(:No_bonuses) %>
  </p>
<% else %>
  <table class="table">
    <tr>
      <th><%= t(:Bonus) %></th>
      <th><%= t(:Unassign) %>?</th>
    </tr>
    <% @employee.bonuses.each do |b| %>
      <tr>
        <td><%= b.name %> (<%= b.display_quantity %>)</td>
        <td>
<%= form_for b, :url => unassign_employee_bonuses_url(@employee) do |f| %>
  <%= f.hidden_field(:b, :value => b.id) %>
  <%= f.submit(t(:Unassign_bonus), class: 'btn btn-warning') %>
<% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= link_to t(:Edit), {controller: "employees", action: "edit", id: @employee}, class: 'btn btn-primary' %> &nbsp;
<%= link_to t(:Delete), employee_path(@employee), method: :delete, data: { confirm: t(:Are_you_sure) }, class: 'btn btn-danger' %>

<br />
<br />
<br />
