<%= link_to "<< #{@employee.full_name}", employee_path(@employee) %>

<h2><%= t :Children_of %> <%= @employee.full_name %></h2>

<table class="table">
  <thead>
    <tr>
      <th><%= t(:First_name) %></th>
      <th><%= t(:Last_name) %></th>
      <th><%= t(:Birth_date) %></th>
      <th><%= t(:Is_student) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @children.each do |child| %>
      <tr>
        <td><%= child.first_name %></td>
        <td><%= child.last_name %></td>
        <td><%= child.birth_date %></td>
        <td><%= child.is_student %></td>
        <td><%= link_to t(:Show), child %></td>
        <td><%= link_to t(:Edit), edit_child_path(child) %></td>
        <td><%= link_to t(:Destroy), child, method: :delete, data: { confirm: t(:Are_you_sure) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:New_child), new_employee_child_path(@employee) %>
