<%= link_to "<< #{@employee.full_name}", employee_path(@employee) %>

<h2>
  <%= t :Children_of %> <%= @employee.full_name %>
  <small><%= t :New_child %></small>
</h2>

<%= form_for [@employee, @child], html: {class: 'auto-width'} do |form| %>
  <%= render 'form', form: form %>
<% end %>

