<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(:First_name) %></strong>
  <%= @child.first_name %>
</p>

<p>
  <strong><%= t(:Last_name) %></strong>
  <%= @child.last_name %>
</p>

<p>
  <strong><%= t(:Birth_date) %></strong>
  <%= @child.birth_date %>
</p>

<p>
  <strong><%= t(:Is_student) %></strong>
  <%= @child.is_student %>
</p>

<%= link_to t(:Edit), edit_child_path(@child) %> |
<%= link_to t(:Back), employee_children_path(@employee) %>
