<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @child.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @child.last_name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @child.birth_date %>
</p>

<p>
  <strong>Is student:</strong>
  <%= @child.is_student %>
</p>

<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', employee_children_path(@employee) %>
