<table class="table">
  <tr>
    <th><%= t :Employee %></th>
    <th><%= t :Start_date %></th>
    <th><%= t :End_date %></th>
    <th><%= t :Days_per %></th>
    <th colspan="2"></th>
  </tr>
  <% vacations.each do |vacation| %>
      <tr>
        <td><%= vacation.employee.full_name %></td>
        <td><%= std_datestring vacation.start_date %></td>
        <td><%= std_datestring vacation.end_date %></td>
        <td><%= vacation.days %> <%= t(:Days) %></td>
        <% referred_by = request.path %>
        <% referred_by += "?period=#{@period.to_s}" if @period %>
        <td>
          <% if vacation.editable? %>
            <%= link_to t(:Edit), edit_vacation_path(vacation, referred_by: referred_by) %>
          <% end %>
        </td>
        <td>
          <% if vacation.destroyable? %>
            <%= link_to t(:Delete),  vacation_path(vacation, referred_by: referred_by), method: :delete %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
