<table class="table">
  <tr>
    <th><%= t :Employee %></th>
    <th><%= t :Start_date %></th>
    <th><%= t :End_date %></th>
    <th></th>
  </tr>
  <% vacations.each do |vacation| %>
      <tr>
        <td><%= vacation.employee.full_name %></td>
        <td><%= vacation.start_date_str %></td>
        <td><%= vacation.end_date_str %></td>
        <td><%= link_to t(:Edit), edit_vacation_path(vacation) %></td>
      </tr>
  <% end %>
</table>