<% provide(:title, t(:Administration)) %>

<%= render 'searches/search_form' %>
<div class="lead">
  <div class="row">
    <div class="col-md-12">
      <h2>Site Administration</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"><%= link_to t(:Payslip_management), payslips_path %></div>
    <div class="col-md-8"><%= t(:Payslips_admin_description) %></div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-4"><%= link_to t(:Holidays), holidays_path %></div>
    <div class="col-md-8"><%= t(:Holidays_admin_description) %></div>
  </div>
  <div class="row">
    <div class="col-md-4"><%= link_to t(:Standard_charge_notes), standard_charge_notes_path %></div>
    <div class="col-md-8"><%= t(:Charges_admin_description) %></div>
  </div>
  <div class="row">
    <div class="col-md-4"><%= link_to t(:Supervisors), supervisors_path %></div>
    <div class="col-md-8"><%= t(:Supervisors_admin_description) %></div>
  </div>
  <div class="row">
    <div class="col-md-4"><%= link_to t(:Users), users_path %></div>
    <div class="col-md-8"><%= t(:Users_admin_description) %></div>
  </div>
  <div class="row">
    <div class="col-md-4"><%= link_to t(:Department_management), departments_path %></div>
    <div class="col-md-8"><%= t(:Departments_admin_description) %></div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-4"><%= link_to t(:Wages_management), admin_manage_wages_path %></div>
    <div class="col-md-8"><%= t(:Wages_admin_description) %></div>
  </div>
  <div class="row">
    <div class="col-md-4"><%= link_to t(:Variable_management), admin_manage_variables_path %></div>
    <div class="col-md-8"><%= t(:Variables_admin_description) %></div>
  </div>
</div>
