<% provide(:title, t(:Administration)) %>

<%= render 'searches/search_form' %>
<div class="lead">
  <div class="row">
    <div class="col-md-12">
      <h2>Site Administration</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"><%= link_to t(:Payslip_management), payslips_path %></div>
    <div class="col-md-8">Post Payslips and Pay Periods for Employees</div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-4"><%= link_to t(:Holidays), holidays_path %></div>
    <div class="col-md-8">Add or Modify Yearly Holidays</div>
  </div>
  <div class="row">
    <div class="col-md-4"><%= link_to t(:Standard_charge_notes), standard_charge_notes_path %></div>
    <div class="col-md-8">Add or Modify Standard Charges.</div>
  </div>
  <div class="row">
    <div class="col-md-4"><%= link_to t(:Users), users_path %></div>
    <div class="col-md-8">Manage non-employee users of the system</div>
  </div>
  <div class="row">
    <div class="col-md-4"><%= link_to t(:Department_management), departments_path %></div>
    <div class="col-md-8">Add or Modify Departments.</div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-4"><%= link_to t(:Wages_management), admin_manage_wages_path %></div>
    <div class="col-md-8">Modify standard wages for Categories and Echelons</div>
  </div>
  <div class="row">
    <div class="col-md-4"><%= link_to t(:Variable_management), admin_manage_variables_path %></div>
    <div class="col-md-8">Modify system variables that control how the system works.</div>
  </div>
</div>
