<% provide(:title, t(:Administration)) %>

<h2><%= t(:Manage_wages) %></h2>

<table class="table table-striped">
  <tr>
  <th><%= t(:Category) %></th>
  <th><%= t(:Echelon) %></th>
  <th><%= t(:Echelon_alt) %></th>
  <th><%= t(:Base_wage) %></th>
  <th><%= t(:Base_wage_b) %></th>
  <th><%= t(:Base_wage_c) %></th>
  <th><%= t(:Base_wage_d) %></th>
  <th><%= t(:Base_wage_e) %></th>
  <th><%= t(:Edit) %></th>
  </tr>
<% @wages.each do |wage| %>
  <tr>
    <td><%= wage.category %></td>
    <td><%= wage.echelon %></td>
    <td><%= wage.echelonalt %></td>
    <td><%= wage.basewage %></td>
    <td><%= wage.basewageb %></td>
    <td><%= wage.basewagec %></td>
    <td><%= wage.basewaged %></td>
    <td><%= wage.basewagee %></td>
    <td><%= link_to t(:Edit), admin_manage_wage_show_path(category: wage.category, echelon: wage.echelon, echelonalt: wage.echelonalt) %></td>
  </tr>
<% end %>
</table>
