<% provide :title, t(:Print_timesheets) %>

<p>
  <%= link_to "<< #{t(:Administration)}", admin_index_path %>
</p>


<h2><%= t(:Choose_options_for_timesheets) %></h2>

<%= form_tag(timesheet_pdf_url() + ".pdf", method: 'get') %>

  <div class="form-group">
    <label><%= t :Period %></label>
    <%= select_tag 'period',
                   options_from_collection_for_select(@periods, 'to_s', 'name', @current.to_s), { prompt: t(:Select_a_period, scope: :reports), class: 'form-control' } %>
  </div>

  <div class="form-group">
    <label><%= t :Employee %></label>
    <%= select_tag 'employees',
                    options_from_collection_for_select(@employees, 'id', 'full_name_rev', @employees.map(&:id)), { multiple: true, size: 10, class: 'form-control' } %>
  </div>

  <div class="form-group">
    <label><%= t :Announcements %></label>
    <%= text_area(:timesheet, :announcement, class: 'form-control') %>
  </div>

  <%= submit_tag t(:Display), { class: 'btn btn-primary' } %>

</form>
