<% provide(:title, t(:Promotion)) %>

<p>
  <%= link_to "<<#{@employee.full_name}", employee_path(@employee) %>
</p>

<%= render 'shared/error_messages', errors: @raise.errors %>

<%= form_for @raise, url: employee_raises_path(@employee), html: {class: 'auto-width'} do |form| %>

    <%= render 'employees/wage_form', form: form %>

    <div class="form-group">
      <%= form.label :is_exceptional, t(:Is_exceptional) %><br />
      <%= form.check_box :is_exceptional %>
    </div>

    <div class="form-group">
      <%= form.submit t(:Save), class: 'btn btn-primary' %>
    </div>
<% end %>