<h2><%= t :New_user_account %></h2>

<%= render 'shared/error_messages', errors: @user.errors %>

<%= form_for @user, html: {class: 'auto-width'} do |form| %>

    <div class="radio">
      <label>
        <%= radio_button_tag :new_person, false, true, data: {'new-person' => false} %>
        <b><%= t :Use_existing_person %></b>
      </label>
    </div>

    <div class="form-group tabbed">
      <%= form.collection_select :person_id, Person.non_users,
                                 :id, :full_name_rev, {},
                                 class: 'form-control existing-person-control' %>
    </div>

    <div class="radio">
      <label>
        <%= radio_button_tag :new_person, true, false, data: {'new-person' => true} %>
        <b><%= t :Create_new_person %></b>
      </label>
    </div>

    <div class="form-group tabbed">
      <label>
        <%= t :First_name %>
      </label>
      <%= form.text_field :first_name,
                          class: 'form-control new-person-control',
                          disabled: true %>
    </div>

    <div class="form-group tabbed">
      <label>
        <%= t :Last_name %>
      </label>
      <%= form.text_field :last_name,
                          class: 'form-control new-person-control',
                          disabled: true %>
    </div>

  <div class="form-group">
    <label>
      <%= t :Username %>
    </label>
    <%= form.text_field :username, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :role, t(:Role) %><br />
    <%= form.select :role, options_for_select(User.roles.keys), { }, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <label>
      <%= t :Password %>
    </label>
    <%= form.password_field :password, class: 'form-control'  %>
  </div>

  <div class="form-group">
    <label>
      <%= t :Confirm_password %>
    </label>
    <%= form.password_field :password_confirmation, class: 'form-control'  %>
  </div>

  <%= form.submit t(:Save), class: 'btn btn-primary' %>
<% end %>
