<% provide :title,  t(:Work_loans) %>

    <h2>Create a Work Loan</h2>

    <% if @work_loan.errors.any? %>
      Errors creating work loan:<br />
      <ul>
      <% @work_loan.errors.full_messages.each do |err| %>
        <li><%= err %></li>
      <% end %>
      </ul>
    <% end %>

    <br />

    <%= form_for [@employee, @work_loan] do |f| %>
      <div class="form-group">
        <%= f.label :employee %>
        <%= f.select :employee_id, options_from_collection_for_select(@employees, 'id', 'full_name', @work_loan.employee_id), { prompt: 'Select an Employee' }, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :department_id %>
        <%= f.select :department_id, options_from_collection_for_select(@departments, 'id', 'name', @work_loan.department_id), { prompt: 'Select a Department' }, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :hours %>
        <%= f.text_field :hours, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :date %>
        <div class="input-group date" id="datepicker">
          <%= f.text_field :date, placeholder: 'DD/MM/YYYY', class: 'form-control' %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <%= f.submit "Create" %>
      </div>
    <% end %>

    <script>
      $(function() {
          $('#datepicker').datetimepicker({
            format: 'DD/MM/YYYY',
            <% if I18n.locale == :en %>
              locale: 'en'
            <% else %>
              locale: 'fr'
            <% end %>
          });
      });
    </script>
