<% if alert %>
  <p id="permissions-error" class="bg-danger"><%= alert %></p>
<% end %>

<%= render 'searches/search_form' %>

<div class="row">
  <div class="col-md-6">
    <h2 id="home"><%= t :Tasks %></h2>
    <hr />
    <ul class="list-unstyled" id="link-list">

      <li><%= link_to t(:Employees), employees_path %></li>

      <% if can? :create, WorkHour %>
        <li><%= link_to t(:Hours), work_hours_path, id: 'hours-link' %></li>
      <% end %>

      <li><%= link_to t(:Vacation), vacations_path %></li>

      <% if can? :read, Bonus %>
        <li><%= link_to t(:Bonuses), bonuses_path %></li>
      <% end %>

      <% if can? :read, WorkLoan %>
        <li><%= link_to t(:Work_loans), work_loans_path, id: 'work-loans-link' %></li>
      <% end %>

      <% if can? :read, ReportsController %>
        <li><%= link_to t(:Reports), reports_path, id: 'reports-link' %></li>
      <% end %>

      <% if can? :read, AdminController %>
        <hr />
        <li><%= link_to t(:Administration), admin_index_path, id: 'admin-link' %></li>
      <% end %>

    </ul>
  </div>
  <div class="col-md-6">
    <%= render "activity_feed" %>
  </div>
</div>
