<% if alert %>
  <p id="permissions-error" class="bg-danger"><%= alert %></p>
<% end %>

<%= render 'searches/search_form' %>

<div class="row">
  <div class="col-md-6">
    <h2><%= t :Tasks %></h2>
    <hr />
    <ul class="list-unstyled" id="link-list">
      <li><%= link_to t(:Employees), employees_path %></li>
      <li><%= link_to t(:Hours), work_hours_path %></li>
      <li><%= link_to t(:Vacation), vacations_path %></li>
      <li><%= link_to t(:Bonuses), bonuses_path %></li>
      <li><%= link_to t(:Work_loans), work_loans_path %></li>
      <li><%= link_to t(:Reports), reports_path %></li>
      <hr />
      <li><%= link_to t(:Administration), admin_index_path %></li>
    </ul>
  </div>
  <div class="col-md-6">
    <%= render "activity_feed" %>
  </div>
</div>
