<% date = @period.start %>
<table class="table table-bordered">

  <!-- Days of the week headers -->
  <tr>
    <% (Date.new(2017, 10, 2) .. Date.new(2017, 10, 8)).each do |d| %>
        <th><%= l(d, format: "%A") %></th>
    <% end %>
  </tr>
  <% while date < @period.finish %>
      <tr>

        <!-- Empty boxes until the first -->
        <% unless date.monday? %>
            <% (last_monday(date)..(date-1)).each do %>
                <td class="col-md-1"></td>
            <% end %>
        <% end %>

        <!-- A week -->
        <% begin %>
            <td class="col-md-1">
              <% day_hash = @days_hash[date] %>
              <h5><b><%= date.strftime("%-d %b") %></b></h5>
              <i><%= day_hash[:holiday] %></i><br>

              <% if day_hash[:vacation] %>
                <h3><%= t :Vacation %></h3>

              <% else %>
                <% if form %>
                  <% hours = day_hash[:hours] || WorkHour.default_hours(date, day_hash[:holiday]) %>
                  <% css_class = 'form-control hours-text' %>
                  <% css_class += ' off-day-field' if is_off_day?(date, day_hash[:holiday]) %>
                  <%= text_field_tag "hours[#{date}]",
                                     number_to_human(hours),
                                     class: css_class %>
                  <label style="font-weight: normal">
                    <%= check_box_tag "sick[#{date}]", 1, day_hash[:sick], class: 'sick-day-checkbox' %>
                    <%= t :Sick_day %>
                  </label>


                <% else %>
                  <h3>
                    <% unless day_hash[:hours].nil? %>
                      <% if day_hash[:dept] %>
                          <p><small><em>Loaned to: <%= Department.find(day_hash[:dept]).name %></em></small></p>
                      <% end %>
                      <span <%= 'style="color: blue;"'.html_safe unless WorkHour.default_hours?(date, day_hash[:holiday], day_hash[:hours]) %>>
                        <%= number_to_human day_hash[:hours] %>&nbsp;
                        <small>
                          <%= t :Hours %>
                          <%= "(#{t :Sick})" if day_hash[:sick] %>
                        </small>
                      </span>
                    <% end %>
                  </h3>
                <% end %>
              <% end %>
            </td>
            <% date += 1 %>
        <% end until date.monday? or date > @period.finish %>

        <!-- Empty boxes after the end of the month -->
        <% unless date.monday? %>
            <% (date .. next_sunday(date)).each do %>
                <td class="col-md-1"></td>
            <% end %>
        <% end %>
      </tr>
  <% end %>
</table>