<% date = @period.start %>
<table class="table table-bordered workhour-calendar">

  <!-- Days of the week headers -->
  <tr>
    <% (Date.new(2017, 10, 2) .. Date.new(2017, 10, 8)).each do |d| %>
        <th><%= l(d, format: "%A") %></th>
    <% end %>
  </tr>
  <% while date < @period.finish %>
      <tr>

        <!-- Empty boxes until the first -->
        <% unless date.monday? %>
            <% (last_monday(date)..(date-1)).each do %>
                <td class="col-md-1"></td>
            <% end %>
        <% end %>

        <!-- A week -->
        <% begin %>
            <td class="col-md-1">
              <% day_hash = @days_hash[date] %>
              <h5><b><%= date.strftime("%-d %b") %></b></h5>
              <i><%= day_hash[:holiday] %></i><br>

              <% if day_hash[:vacation] %>
                <h3><%= t :Vacation %></h3>

              <% else %>
                <% if form %>
                  <% hours = day_hash[:hours] || WorkHour.default_hours(date, day_hash[:holiday]) %>
                  <% excused_hours = day_hash[:excused_hours] || 0 %>
                  <% css_class = 'form-control hours-text' %>
                  <% css_class += ' off-day-field' if is_off_day?(date, day_hash[:holiday]) %>
                  <%= text_field_tag "hours[#{date}][hours]",
                                     number_to_human(hours),
                                     class: css_class %>
                  <label style="font-weight: normal">
                    <%= check_box_tag "excused_absence[#{date}]", 1, (excused_hours>0), class: 'excused-absence-checkbox' %>
                    <%= t :Excused_absence %>
                  </label>
                  <div class="excuse-section" <%= 'style="display: none;"'.html_safe unless excused_hours > 0 %> >
                    <i><%= t :Excused_hours %></i>
                    <% disabled =  !(excused_hours > 0) %>
                    <%= text_field_tag "hours[#{date}][excused_hours]", number_to_human(excused_hours), class: 'form-control excused-hours' %>
                    <i><%= t :Reason %></i>
                    <% excuse = day_hash[:excuse] || 'Sick' %>
                    <%= text_field_tag "hours[#{date}][excuse]", excuse, class: 'form-control excused-hours-excuse', disabled: disabled %>
                  </div>

                <% else %>
                  <h3>
                    <% unless day_hash[:hours].nil? %>
                      <% if day_hash[:dept] %>
                          <p><small><em>Loaned to: <%= Department.find(day_hash[:dept]).name %></em></small></p>
                      <% end %>
                      <span <%= 'style="color: blue;"'.html_safe unless WorkHour.default_hours?(date, day_hash[:holiday], day_hash[:hours]) %>>
                        <%= number_to_human day_hash[:hours] %>&nbsp;
                        <small>
                          <%= t :Hours %>
                        </small>
                      </span>
                    <% end %>
                  </h3>
                  <% if day_hash[:excused_hours] > 0 %>
                    <%= number_to_human(day_hash[:excused_hours]) %>
                    <%= t :hours_excused %><br />
                    <%= t :Reason %> <%= day_hash[:excuse] %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
            <% date += 1 %>
        <% end until date.monday? or date > @period.finish %>

        <!-- Empty boxes after the end of the month -->
        <% unless date.monday? %>
            <% (date .. next_sunday(date)).each do %>
                <td class="col-md-1"></td>
            <% end %>
        <% end %>
      </tr>
  <% end %>
</table>