<%= provide :title, t(:Hours) %>
<h2>
  <%= t :Hours_for %>
  <%= @employee.full_name %>
  <small><%= @period.month_name.camelize %></small>
</h2>

<% if defined? @all_errors %>
  <% @all_errors.each do |errors| %>
    <%= render 'shared/error_messages', errors: errors %>
  <% end %>
<% end %>

<%= form_tag update_employee_work_hours_path(@employee) do %>

  <%= hidden_field_tag :enter_all, params[:enter_all] %>

  <%= render 'calendar', form: true %>

  <div id="translated_save" style="display: none"><%= t :Save %></div>
  <%= submit_tag t(:Save), class: 'btn btn-primary', id: 'hours-submit' %>

<% end %>
