<%= provide :title, t(:Hours) %>
<% dates = @week.keys.sort %>
<h2>
  <%= t :Hours_for %>
  <%= @employee.full_name %>
  <small><%= t :Week_of %> <%= dates.first.strftime("%-d %B") %></small>
</h2>

<%= render 'shared/error_messages', messages: @errors if @errors %>

<%= form_tag update_employee_work_hours_path(@employee) do %>
  <table class="table hours-table">
    <tr>
      <% %w[Monday Tuesday Wednesday Thursday Friday Saturday Sunday].each do |day| %>
          <th><%= day %></th>
      <% end %>
    </tr>
    <tr>
      <% dates.each do |date| %>
          <th><%= date.strftime("%-d %b") %></th>
      <% end %>
    </tr>
    <tr>
      <% dates.each do |date| %>
        <td>
          <% if @week[date].has_key?(:holiday) %>
            <label style="color: Red;">
              <%= @week[date][:holiday] %>
            </label>
          <% end %>
        </td>
      <% end %>
    </tr>
    <tr>
      <% dates.each do |date| %>
          <td>
            <% if @week[date][:vacation] %>
              <label style="display: block;"><%= t :Vacation %></label>
            <% else %>
              <% css_class = 'form-control' %>
              <% css_class += ' off-day-field' if is_off_day?(date, @week[date][:holiday]) %>
              <%= text_field_tag "hours[#{date}]",
                               number_to_human(@week[date][:hours]),
                               class: css_class,
                               data: {'dow' => date.wday} %>

              <span>
                <input <% if @week[date][:dept] %>checked="checked"<% end %> id="show-work-loan-<%= date %>" type="checkbox" class="toggle-dept" /> Dept Loan?<br />
                <%= select("depts", "#{date}", options_from_collection_for_select(Department.all, :id, :name, @week[date][:dept]), {}, { class: "toggle-on-checkbox", id: "dept-select-for-#{date}", style: "display: none", disabled: "disabled" }) %>
              </span>

            <% end %>
          </td>
      <% end %>
    </tr>
  </table>

  <label>
    <%= t :Hours_for_week %>
  </label>
  <div class="form-group inline-fields">
    <%= text_field_tag 'hours_regular', 40, class: 'form-control', size: 3 %>
    <label><%= t :Regular_hours %></label>
  </div>
  <div class="form-group inline-fields">
    <%= text_field_tag 'hours_overtime', 0, class: 'form-control', size: 3 %>
    <label><%= t :Overtime_hours %></label>
  </div>
  <div id="translated_save" style="display: none"><%= t :Save %></div>
  <%= submit_tag t(:Save), class: 'btn btn-primary', id: 'hours-submit' %>
<% end %>
