<h2><%= t :Hours_for %> <%= @employee.full_name %></h2>
<h3>
  <% hours_worked = @employee.total_hours_so_far %>
  <%= Period.current.month_name %> :
  <%= hours_worked[:normal] %>
  <small><%= t :Regular_hours %></small>
  <%= hours_worked[:overtime] %>
  <small><%= t :Overtime_hours %></small>
</h3>

<label style="margin-top: 20px;"><%= t :OT_and_partial %></label>
<table class="table" style="width: auto;">
  <% @work_hours.reverse_each do |work_hour| %>
    <tr>
      <td><%= work_hour.date.strftime "%A" %></td>
      <td><%= std_datestring work_hour.date %></td>
      <td><%= work_hour.hours %> <%= t :Hours %></td>
    </tr>
  <% end %>
</table>