<%= link_to "<< #{@employee.full_name}", employee_path(@employee) %>

<h2><%= t :Hours_for %> <%= @employee.full_name %></h2>

<div style="margin-bottom: 8px;">
  <% if @period == LastPostedPeriod.current %>
    <% if can? :create, WorkHour %> 
      <%= link_to t(:Enter_hours), edit_employee_work_hours_path(@employee), class: 'btn btn-primary', id: 'enter-hours-btn' %>
    <% end %>
  <% end %>
</div>

<h3 >
  <%= @period.month_name.camelize %> :
  <%= number_to_human @hours_worked[:normal] or 0 %>
  <small><%= t :Regular_hours %></small>
  <% if @hours_worked[:overtime] %>
    <%= number_to_human @hours_worked[:overtime] %>
    <small><%= t :Overtime_hours %></small>
  <% end %>
  <% if @hours_worked[:holiday] %>
    <%= number_to_human @hours_worked[:holiday] %>
    <small><%= t :Holiday_overtime_hours %></small>
  <% end %>
</h3>

<%= render 'shared/period_nav', path: employee_work_hours_path(@employee),
                                period: @period,
                                last_period: LastPostedPeriod.current %>

<%= render 'calendar', form: false %>

