
<h2><%= @period.name %></h2>

<% if @employees_needing_entry.empty? %>
  <h3>
    <small>
      <%= t :no_employees_need_hours_entered %>
    </small>
  </h3>
<% else %>
  <h3>
    <%= @employees_needing_entry.count %>
    <small>
      <%= t :employees_need_hours_entered %>
    </small>
  </h3>

  <%= link_to t(:Enter_hours), edit_employee_work_hours_path(@employees_needing_entry.first, enter_all: true), class: 'btn btn-primary' %>
<% end %>