<%= form_for bonus, html: {class: 'auto-width'} do |form| %>
  <%= render 'shared/error_messages', errors: bonus.errors %>

  <div class="form-group">
    <%= form.label t(:Name) %>
    <%= form.text_field :name, id: :bonus_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label t(:Type) %>
    <%= form.select :bonus_type, options_for_select(Bonus.bonus_types.keys.collect{ |key| [t(key), key] }, bonus.bonus_type), {id: :bonus_bonus_type}, class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= form.label t(:Quantity), style: 'display: block;' %>
    <%= form.text_field :ext_quantity, id: :bonus_quantity, class: 'form-control form-control-inline' %>
    <span id='quantity-unit'>FCFA</span>
  </div>

  <div class="form-group">
    <%= form.label t(:Minimum), style: 'display: block;' %>
    <%= form.text_field :minimum, id: :minimum, class: 'form-control form-control-inline' %>
  </div>

  <div class="form-group">
    <%= form.label t(:Maximum), style: 'display: block;' %>
    <%= form.text_field :maximum, id: :maximum, class: 'form-control form-control-inline' %>
  </div>

  <div class="form-group">
    <%= form.label t(:Comment) %>
    <%= form.text_field :comment, id: :bonus_comment, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label t(:Use_caisse) %>
    <%= form.check_box "use_caisse", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit t(:Save), class: 'btn btn-primary' %>
  </div>
<% end %>
