<table class="table">
  <thead>
    <tr>
      <% if @employee %>
        <th></th>
      <% end %>
      <th><%= t(:Name) %></th>
      <th><%= t(:Quantity) %></th>
      <th><%= t(:Comment) %></th>
      <th><%= t(:Minimum) %></th>
      <th><%= t(:Maximum) %></th>
      <th><%= t(:Use_caisse) %></th>
      <th><%= t(:After_tax) %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @bonuses.each do |bonus| %>
      <tr>
        <% if @employee %>
          <td>
            <%= check_box_tag("bonus[#{bonus.id}]", 1, @employee.bonuses.include?(bonus)) %>
          </td>
        <% end %>
        <td><%= link_to bonus.name, edit_bonus_path(bonus) %></td>
        <td><%= bonus.display_quantity %> <% if bonus.base_percentage? %> <span style="color:red;">of base</span><% end %></td>
        <td><%= bonus.comment %></td>
        <td><%= bonus.minimum %></td>
        <td><%= bonus.maximum %></td>
        <td><%= bonus.use_caisse == false ? "" : t(:Yes) %></td>
        <td><% if bonus.post_tax == false %>
                 <%= t(:Applied_before_tax) %>
               <% else %>
                 <span style="color:red;font-weight:bold;"><%= t(:Applied_after_tax) %></span>
            <% end %>
        </td>
        <% unless @employee %>
          <td><%= link_to t(:Edit), edit_bonus_path(bonus) %></td>
          <td><%= link_to t(:Delete), bonus, method: :delete, data: { confirm: t(:Are_you_sure) } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
