<% provide :title,  t(:Loans) %>

<%= link_to "<< #{@employee.full_name}", employee_path(@employee) %>

<h2><%= t(:Unpaid_loans_for) %>: <%= @employee.full_name %></h2>

<table class="table">
  <thead>
    <tr>
      <th><%= t(:Original_amount) %></th>
      <th><%= t(:Comment) %></th>
      <th><%= t(:Origination) %></th>
      <th><%= t(:Term) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unpaid_loans.each do |loan| %>
      <tr>
        <td><%= number_to_currency(loan.amount, locale: :cm) %></td>
        <td><%= loan.comment %></td>
        <td><%= l(loan.origination, format: :short) %></td>
        <td><%= t(loan.term) unless loan.term.blank? %></td>
        <td>
          <% if can? :update, Loan %>
              <%= link_to t(:Edit), edit_loan_path(loan), class: 'edit-loan-link' %>
          <% end %>
        </td>
        <td>
          <% if can? :create, LoanPayment %>
            <%= link_to t(:Add_a_loan_payment), new_loan_loan_payment_path(loan), class: 'add-loanpayment-link' %>
          <% end %>
        </td>
        <td>
          <% if can? :destroy, Loan %>
            <%= link_to t(:Delete), loan, method: :delete, data: { confirm: t(:Are_you_sure) }, class: 'delete-loan-link' %>
          <% end %>
        </td>
      </tr>

      <% loan.loan_payments.each do |payment| %>
        <tr>
          <td></td>
          <td><%= number_to_currency(payment.amount, locale: :cm) %> - <em><%= t(:Loan_payment) %></em></td>
          <td><%= l(payment.date, format: :short) %></td>
          <td></td>
          <td>
            <% if can? :update, LoanPayment %>
              <%= link_to t(:Edit), edit_loan_payment_path(payment), class: 'edit-loanpayment-link' %>
            <% end %>
          </td>
          <td> </td>
          <td>
            <% if can? :destroy, LoanPayment %>
              <%= link_to t(:Destroy), payment, method: :delete, data: { confirm: t(:Are_you_sure) }, class: 'delete-loanpayment-link' %>
            <% end %>
          </td>
        </tr> 
      <% end %>
      <% if loan.loan_payments.any? %>
        <tr>
          <th></th>
          <td><strong><%= t(:Outstanding_balance) %>:</strong> <%= number_to_currency(loan.balance, locale: :cm) %></td>
          <td colspan="3"></td>
        </tr>
      <% end %>

    <% end %>
  </tbody>
</table>

<strong><%= t(:Total_outstanding) %>:</strong> <%= number_to_currency(@total_balance, locale: :cm) %><br />
<strong><%= t(:Total_amount) %>:</strong> <%= number_to_currency(@total_amount, locale: :cm) %><br />

<h2><%= t(:Paid_loans) %></h2>

<table class="table">
  <thead>
    <tr>
      <th><%= t(:Original_amount) %></th>
      <th><%= t(:Comment) %></th>
      <th><%= t(:Origination) %></th>
      <th><%= t(:Term) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paid_loans.each do |loan| %>
      <tr>
        <td><%= number_to_currency(loan.amount, locale: :cm) %></td>
        <td><%= loan.comment %></td>
        <td><%= loan.origination %></td>
        <td><%= loan.term %></td>
        <td>
          <% if can? :update, Loan %>
            <%= link_to 'Edit', edit_loan_path(loan), class: 'edit-paid-loan-link' %>
          <% end %>
        </td>
        <td></td>
        <td>
          <% if can? :destroy, Loan %>
            <%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-paid-loan-link' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<br />

<% if can? :create, Loan %>
  <%= link_to t(:New_loan), new_employee_loan_path, class: 'btn btn-primary', id: 'new-loan-btn' %>
<% end %>
