
<%= render 'shared/error_messages', errors: @misc_payment.errors %>


<div class="form-group">
  <%= form.label :amount, t(:Amount) %>
  <%= form.text_field :amount, placeholder: 'CFA', class: 'form-control' %>
</div>

<div class="form-group">
  <%= form.label :date, t(:Date), style: 'display: block;' %>
  <%= form.date_select :date, {}, class: 'form-control form-control-inline' %>
</div>

<div class="form-group">
  <%= form.label :before_tax, t(:Before_tax), style: 'display: block;' %>
  <%= form.check_box :before_tax %>
</div>

<div class="form-group">
  <%= form.label :note, t(:Note) %>
  <%= form.text_field :note, class: 'form-control' %>
</div>
