<% provide :title, t(:Misc_payments) %>

<%= link_to "<< #{@employee.full_name} #{t :Misc_payments}", employee_misc_payments_path(@employee) %>

<h2><%= @employee.full_name %></h2>

<%= form_for @misc_payment, url: employee_misc_payments_path(@employee), html: {class: 'auto-width'} do |form| %>
  <%= render 'misc_payment_form', form: form %>

  <div class="form-group">
    <%= form.submit t(:Save), class: 'btn btn-primary' %>
  </div>
<% end %>