<%= link_to "<< #{@employee.full_name}", employee_path(@employee) %>

<h2>
  <%= t :Charges_for %> <%= @employee.full_name %>
  <small>
    <%= @period.name %>
  </small>
</h2>

<% if can? :create, Charge %>
  <%= link_to t(:Add_charge), new_employee_charge_path, class: 'btn btn-primary btn-w-marge', id: 'add-charge-btn' %>
<% end %>

<%= render 'shared/period_nav',
           period: @period,
           path: employee_charges_path(@employee) %>

<table class="table">
  <tr>
    <th><%= t :Date %></th>
    <th><%= t :Amount %></th>
    <th><%= t :Note %></th>
    <th></th>
  </tr>
  <% @charges.each do |charge| %>
    <tr>
      <td><%= std_datestring charge.date %></td>
      <td>FCFA <%= charge.amount %></td>
      <td><%= charge.note %></td>
      <td>
        <% if charge.destroyable? and can?(:destroy, charge)%>
          <%= link_to t(:Delete), charge, method: :delete %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

