<!DOCTYPE html>
<html>
  <head>
    <title>Payroll</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top" id="header">
      <div class="container">
        <div class="navbar-header">
          <%= image_tag "2014_sil_logo.png", id: 'site-logo' %>
          <a class="navbar-brand site-title" href="/">CMB <%= t :Payroll %></a>
          <span class="navbar-brand site-subtitle"><%= yield(:title) %></span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to "#{t(:Welcome)}, Hilda", '#' %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
